<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

    <head>
        <link href="http://gmpg.org/xfn/11" rel="profile">
        <meta charset="utf-8">
        <title>
            {{ if eq .URL "/" }}
            {{ .Site.Title }}
            {{ else }}
            {{ .Title }} ❚ {{ .Site.Title }}
            {{ end }}
        </title>
    </head>

    <body lang="en">

        {{ block "main" . }}{{ end }}

    </body>
</html>
